/* Home & Generic */

body{
	font-family: Arial Black, Helvetica, courier;
	font-size: 15px;
	padding: 10px;
}

.title-screen{
  text-indent: 30px;
  padding-bottom: 10px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button, button a {
	padding: 6px 12px;
  font-family: Arial Black;
  font-size: 14px;
  background-color: #10538e;
  color: #cee3f5;
  border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background-color: #2f7dc1;
}

.repository a {
	font-size: 14px;
    color: #7e8481;
    padding-left: 30px;
}

/* College */

.college th {
	font-size: 20px;

}

.college th, .college td {
	width: 180px;
	height: 30px;
	text-align: left;

}

.college .wide {
	width: 400px;
}

h1{
	font-family: Arial Black, Helvetica, Times New Roman;
}

#Title {
	font-size: 50px;
	font-family: Arial Black, Helvetica, courier new;
}

/* Bucket List */

.bucket-list img {
	display: block;
	margin-left: auto;
	max-width: 300px;
	max-height: 200px;
}

.temperature {
	font-style: italic;
    padding-left: 40px;
}


.bucket-list .cell-img {
	text-align: center;
}

.bucket-list .cell-counter {
	width: 50px;
	text-align: center;
	color: #c71ec7;
	background-color: #819fcc59;
}

.bucket-list .cell-desc {
	width: 800px;
	text-align: justify;
}

.bucket-list .cell-desc h4 {
	padding-left: 20px;
	color: #c516c5;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-size: 16px;
}

.bucket-list .cell-desc p {
	padding-left: 40px;
}


/* about Me */

.container {
  background-color: #0e658e;
  color: #cbe7f5;
  padding: 20px;
  margin: 30px;
  font-family: Arial;
  font-weight: bolder;
  font-size: 18px;
}
